.Weather {
    text-align: center;
    background-color: #233357;
    color: #ffffff;
    width: 450px;
    max-height: 160px;
    border: #161842;
}

.bar{
  font-size: large;
  text-align: center;
  width: 70%;
}

  .Infos{
    display: flex;
    text-align: center;
    justify-content: space-around;
}